{% extends '::base.html.twig' %}
 {% block head %}
         
        {% endblock %}
{% block body -%}
   <style>
            table.record_properties {
border-collapse: collapse;
width: 100%;
}
table.record_properties th, td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}
table.record_properties th {
background-color: #f2f2f2;
font-weight: bold;
}
ul.record_actions {
list-style-type: none;
margin: 0;
padding: 0;
}
ul.record_actions li {
display: inline-block;
margin-right: 10px;
}
ul.record_actions a {
color: #333;
text-decoration: none;
}
ul.record_actions a:hover {
color: #0088cc;
}
            </style>
    <h1>Etablissement</h1>
        <head>
       
    </head>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>IdEtablissement</th>
                <td>{{ entity.idDepartement }}</td>
            </tr>
            <tr>
                <th>Etablissement</th>
                <td>{{ entity.departement }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_users_GestionRessources') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('Departement_edit', { 'id': entity.idDepartement }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}