{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Soutanance list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idsoutenance</th>
                <th>Datesoutenance</th>
                <th>Sallesoutenance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('Soutenance_show', { 'id': entity.idSoutenance }) }}">{{ entity.idSoutenance }}</a></td>
                <td>{% if entity.dateSoutenance %}{{ entity.dateSoutenance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.salleSoutenance }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('Soutenance_show', { 'id': entity.idSoutenance }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('Soutenance_edit', { 'id': entity.idSoutenance }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('Soutenance_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
