{% extends 'StudentUsersBundle::layout.html.twig' %}

{% block title %}   Dashboard Student     {% endblock %}

{% block css %}
{% endblock %}
 {% block Menu %}
     <ul class="main-navigation-menu">
         <li class="active open">
             <a href="{{ path('student_users_homepage') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-home"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title"> Dashboard </span>
                     </div>
                 </div>
             </a>
         </li>
         <li>
             <a href="{{ path('student_users_Profile') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-settings"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title"> Profile </span>
                     </div>
                 </div>
             </a>
         </li>
         <li>
             <a href="{{ path('student_users_Messages') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-settings"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title"> Messages </span>
                     </div>
                 </div>
             </a>
         </li>
         <li>
             <a href="{{ path('student_users_Agenda') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-settings"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title"> Agenda </span>
                     </div>
                 </div>
             </a>
         </li>
         <li>
             <a href="{{ path('student_users_GestionStages') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-settings"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title">Gestion Stages </span>
                     </div>
                 </div>
             </a>
         </li>
         <li>
             <a href="{{ path('student_users_Gestionsoutenances') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-settings"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title">Gestion soutenances </span>
                     </div>
                 </div>
             </a>
         </li>


     </ul>

 {% endblock %}
{% block pagetitle %}
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="mainTitle">Dashboard</h1>
                <span class="mainDescription">overview &amp; stats </span>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}

{% endblock %}


{% block javascript %}

{% endblock %}