{% extends 'StudentUsersBundle::layout.html.twig' %}

{% block title %}   Gestion Documents   {% endblock %}

{% block css %}
    <link href="{{ asset('Backoffice/vendor/select2/select2.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('Backoffice/vendor/DataTables/css/DT_bootstrap.css') }}" rel="stylesheet" media="screen">
{% endblock %}

 {% block Menu %}
     <ul class="main-navigation-menu">
         <li>
             <a href="{{ path('student_users_homepage') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-home"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title"> Dashboard </span>
                     </div>
                 </div>
             </a>
         </li>
         <li>
             <a href="{{ path('student_users_Profile') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-settings"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title"> Profile </span>
                     </div>
                 </div>
             </a>
         </li>
         <li>
             <a href="{{ path('student_users_Messages') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-settings"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title"> Messages </span>
                     </div>
                 </div>
             </a>
         </li>
         <li>
             <a href="{{ path('student_users_Agenda') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-settings"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title"> Agenda </span>
                     </div>
                 </div>
             </a>
         </li>
         <li>
             <a href="{{ path('StageStudent') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-settings"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title">Gestion Stages </span>
                     </div>
                 </div>
             </a>
         </li>
         <li>
             <a href="{{ path('SoutananceStudent') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-settings"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title">Gestion soutenances </span>
                     </div>
                 </div>
             </a>
         </li>
          <li  class="active open">
             <a href="{{ path('DocumentStudent') }}">
                 <div class="item-content">
                     <div class="item-media">
                         <i class="ti-settings"></i>
                     </div>
                     <div class="item-inner">
                         <span class="title">Gestion Documents </span>
                     </div>
                 </div>
             </a>
         </li>


     </ul>

 {% endblock %}

{% block pagetitle %}
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="mainTitle">Gestion Document</h1>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-md-12">
                <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                <div id="sample_1_filter" class="dataTables_filter"></div>
                          <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
                        <thead>
                        <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="Id_Stage" style="width: 211px;">nomDocument</th>
                        <th class="hidden-xs sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="dateDebut" style="width: 247px;">date </th>
                        <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="dateFin" style="width: 109px;">show file</th>
                        <th class="hidden-xs sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label=" affect" style="width: 182px;">Typedocument</th>
                        </thead>
                        <tbody>
{% for entity in entities %}
            <tr role="row" class="even">
                <td>{{ entity.nomDocument }}</td>
                <td class="hidden-xs sorting_1">{% if entity.dateDocument %}{{ entity.dateDocument|date('Y-m-d') }}{% endif %}</td>
                <td><a href="{{ asset(entity.cheminDocument) }}">show file </a></td>
                <td class="hidden-xs">{{ entity.idTypedocument }}</td>

            </tr>
        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    {% endblock %}


{% block javascript %}
    <script src="{{ asset('Backoffice/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ asset('Backoffice/vendor/DataTables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('Backoffice/assets/js/table-data.js') }}"></script>
    <script>
        jQuery(document).ready(function() {
            TableData.init();
        });
    </script>
{% endblock %}